/*
  CSS RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --base: #264653;
  --text: #ffe4a1;
  --accent1: #f4a261;
  --accent2: #e76f51;
  --primary: #45e0ce;
  --secondary: #ece6c4;
  --h1: clamp(4rem, 0.956vw + 3.694rem, 5rem);
  --h2: clamp(3.5rem, 0.956vw + 3.194rem, 4.5rem);
  --h3: clamp(2.3rem, 0.956vw + 1.994rem, 3.3rem);
  --h4: clamp(2rem, 0.956vw + 1.694rem, 3rem);
  --h5: clamp(1.5rem, 0.287vw + 1.408rem, 1.8rem);
  --p: 2rem;
  font-size: 62.5%;
  font-family: "Gabarito", sans-serif;
  color: var(--text);
  background-color: var(--base);
}
::selection {
  color: var(--base);
  background-color: var(--accent1);
}
h1 {
  font-size: var(--h1);
  text-align: center;
  font-weight: bolder;
}
h2 {
  font-size: var(--h2);
  line-height: 1.5;
  font-weight: bolder;
}
h3 {
  font-size: var(--h3);
  line-height: 1.7;
  font-weight: bolder;
}
h4 {
  font-size: var(--h4);
  font-weight: bolder;
}
h5 {
  font-size: var(--h5);
  font-weight: bolder;
  line-height: 1.5;
}
p, li, a {
  font-size: var(--p);
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--accent1);
}
ul {
  list-style-type: disc;
}
li {
  margin-left: 1rem;
}
a:hover {
  text-decoration: underline;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
}

header {
  border-bottom: 2px solid var(--accent1);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 30%);
  gap: calc(100% / 8);
}

.nav-item a {
  font-weight: 600;
  letter-spacing: 0.2ch;
  text-underline-offset: 1vh;
  font-size: var(--h4);
}

.hero {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.tagline {
  height: 100%;
  width: 15ch;
  font-size: calc(var(--h1)*3);
  padding: var(--h1);
}

.tagline h1 {
  color: var(--text);
  letter-spacing: 0.1ch;
  word-spacing: 0.5ch;
  text-align: left;
  font-size: calc(var(--h1)*3);
  font-weight: bolder;
}

.abilities-container {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding-inline: var(--h1);
  display: flex;
  justify-content: right;
}

.abilities h3 {
  color: var(--primary);
  font-weight: bold;
  text-align: right;
}
.abilities h2 {
  text-align: right;
  font-size: var(--h3);
  color: var(--accent1);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.7ch;
  padding-top: 2ch;
  padding-bottom: 1ch;
}

.scroll-down {
  padding-top: 10ch;
  color: var(--secondary);
}

.about-container {
  padding-top: 10vh;
  width: 100vw;
  padding-left: 10vw;
}
.about-body {
  background-color: var(--accent1);
  width: 50vw;
  padding-inline: 15ch;
  padding-block: 10ch;
}
p {
  font-family: 'Libre Franklin';
  font-weight: bold;
}
.about-body p {
  color: black;
  font-size: var(--h4);
}

.upto-container {
  padding-top: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 10vw;
  box-sizing: border-box;
}
.upto-body {
  background-color: var(--accent1);
  width: 50vw;
  padding-inline: 15ch;
  padding-top: 10ch;
}
p {
  font-family: 'Libre Franklin';
  font-weight: bold;
}
.upto-body p {
  color: black;
  font-size: var(--h4);
  padding-bottom: 2ch;
}